- 대구시 경제활동인구 데이터

In [1]:
import pandas as pd

In [2]:
# 데이터 준비
file_path_1 = './data/경제활동인구/행정구역_시도__교육정도별_경제활동인구.csv'
file_path_2 = './data/경제활동인구/행정구역_시도__성별_경제활동인구.csv'
file_path_3 = './data/경제활동인구/행정구역_시도__연령별_경제활동인구.csv'

In [3]:
edu_level_df = pd.read_csv(file_path_1)
gender_df = pd.read_csv(file_path_2)
age_df = pd.read_csv(file_path_3)

In [6]:
edu_level_df.index

RangeIndex(start=0, stop=8, step=1)

In [7]:
edu_level_df.columns

Index(['시도별', '교육정도별', '2018', '2018.1', '2018.2', '2018.3', '2019', '2019.1',
       '2019.2', '2019.3', '2020', '2020.1', '2020.2', '2020.3', '2021',
       '2021.1', '2021.2', '2021.3', '2022', '2022.1', '2022.2', '2022.3',
       '2023', '2023.1', '2023.2', '2023.3'],
      dtype='object')

In [10]:
edu_level_df

,시도별,교육정도별,2018,2018.1,2018.2,2018.3,2019,2019.1,2019.2,2019.3,...,2021.2,2021.3,2022,2022.1,2022.2,2022.3,2023,2023.1,2023.2,2023.3
0,시도별,교육정도별,15세이상인구 (천명),경제활동인구 (천명),비경제활동인구 (천명),경제활동참가율 (%),15세이상인구 (천명),경제활동인구 (천명),비경제활동인구 (천명),경제활동참가율 (%),...,비경제활동인구 (천명),경제활동참가율 (%),15세이상인구 (천명),경제활동인구 (천명),비경제활동인구 (천명),경제활동참가율 (%),15세이상인구 (천명),경제활동인구 (천명),비경제활동인구 (천명),경제활동참가율 (%)
1,대구광역시,계,2106,1282,824,60.9,2104,1266,838,60.2,...,825,60.5,2077,1265,812,60.9,2086,1286,800,61.7
2,대구광역시,초졸이하,261,89,172,34.1,270,86,184,31.9,...,164,33.8,238,72,166,30.3,233,71,162,30.4
3,대구광역시,중졸,280,106,174,37.8,257,100,158,38.7,...,164,34.9,257,97,160,37.7,250,88,162,35.2
4,대구광역시,고졸,765,465,300,60.8,741,438,303,59.1,...,287,59.0,704,429,275,60.9,709,442,268,62.3
5,대구광역시,대졸이상,801,622,178,77.7,836,643,193,76.9,...,212,76.3,878,668,211,76.0,893,685,208,76.8
6,대구광역시,전문대졸,274,210,64,76.7,262,199,63,76.0,...,67,77.3,287,219,68,76.4,290,229,61,78.9
7,대구광역시,대학교졸이상,526,412,114,78.3,574,444,131,77.3,...,145,75.9,591,448,143,75.8,603,457,146,75.7

In [11]:
edu_level_df_2 = edu_level_df.drop(columns='시도별')

In [39]:
# 내가 필요한건 경제뢓동인구
edu_level_df_3 = edu_level_df[['교육정도별', '2018','2018.1','2019', '2019.1', '2020', '2020.1', '2021', '2021.1', '2022', '2022.1', '2023', '2023.1']]

In [40]:
edu_level_df_3 = edu_level_df_3.rename(columns={'2018.1':'-','2019.1':'-', '2020.1':'-', '2021.1':'-', '2022.1':'-', '2023.1':'-'})
edu_level_df_3.set_index(edu_level_df_3['교육정도별'],inplace=True)
edu_level_df_3.drop(columns=['교육정도별'], inplace=True)
edu_level_df_3.index

Index(['교육정도별', '계', '초졸이하', '중졸', '고졸', '대졸이상', '전문대졸', '대학교졸이상'], dtype='object', name='교육정도별')

In [41]:
edu_level_df_3

,2018,-,2019,-,2020,-,2021,-,2022,-,2023,-
교육정도별,,,,,,,,,,,,
교육정도별,15세이상인구 (천명),경제활동인구 (천명),15세이상인구 (천명),경제활동인구 (천명),15세이상인구 (천명),경제활동인구 (천명),15세이상인구 (천명),경제활동인구 (천명),15세이상인구 (천명),경제활동인구 (천명),15세이상인구 (천명),경제활동인구 (천명)
계,2106,1282,2104,1266,2091,1232,2090,1265,2077,1265,2086,1286
초졸이하,261,89,270,86,261,85,247,83,238,72,233,71
중졸,280,106,257,100,258,98,252,88,257,97,250,88
고졸,765,465,741,438,719,407,698,412,704,429,709,442
대졸이상,801,622,836,643,853,642,893,682,878,668,893,685
전문대졸,274,210,262,199,257,194,293,226,287,219,290,229
대학교졸이상,526,412,574,444,596,447,600,456,591,448,603,457

In [42]:
gender_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 44 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시도별     4 non-null      object
 1   성별      4 non-null      object
 2   2018    4 non-null      object
 3   2018.1  4 non-null      object
 4   2018.2  4 non-null      object
 5   2018.3  4 non-null      object
 6   2018.4  4 non-null      object
 7   2018.5  4 non-null      object
 8   2018.6  4 non-null      object
 9   2019    4 non-null      object
 10  2019.1  4 non-null      object
 11  2019.2  4 non-null      object
 12  2019.3  4 non-null      object
 13  2019.4  4 non-null      object
 14  2019.5  4 non-null      object
 15  2019.6  4 non-null      object
 16  2020    4 non-null      object
 17  2020.1  4 non-null      object
 18  2020.2  4 non-null      object
 19  2020.3  4 non-null      object
 20  2020.4  4 non-null      object
 21  2020.5  4 non-null      object
 22  2020.6  4 non-null      object
 23  2021    4 non-null      object
 24  2021.1  4 non-null      object
 25  2021.2  4 non-null      object
 26  2021.3  4 non-null      object
 27  2021.4  4 non-null      object
 28  2021.5  4 non-null      object
 29  2021.6  4 non-null      object
 30  2022    4 non-null      object
 31  2022.1  4 non-null      object
 32  2022.2  4 non-null      object
 33  2022.3  4 non-null      object
 34  2022.4  4 non-null      object
 35  2022.5  4 non-null      object
 36  2022.6  4 non-null      object
 37  2023    4 non-null      object
 38  2023.1  4 non-null      object
 39  2023.2  4 non-null      object
 40  2023.3  4 non-null      object
 41  2023.4  4 non-null      object
 42  2023.5  4 non-null      object
 43  2023.6  4 non-null      object
dtypes: object(44)
memory usage: 1.5+ KB

In [43]:
gender_df.index

RangeIndex(start=0, stop=4, step=1)

In [44]:
gender_df   # 앞의 데이터와 겹치는 것은 삭제

,시도별,성별,2018,2018.1,2018.2,2018.3,2018.4,2018.5,2018.6,2019,...,2022.4,2022.5,2022.6,2023,2023.1,2023.2,2023.3,2023.4,2023.5,2023.6
0,시도별,성별,15세이상인구 (천명),경제활동인구 (천명),비경제활동인구 (천명),경제활동참가율 (%),실업률 (%),고용률 (%),15~64세 고용률 (%),15세이상인구 (천명),...,실업률 (%),고용률 (%),15~64세 고용률 (%),15세이상인구 (천명),경제활동인구 (천명),비경제활동인구 (천명),경제활동참가율 (%),실업률 (%),고용률 (%),15~64세 고용률 (%)
1,대구광역시,계,2106,1282,824,60.9,4.4,58.2,64.2,2104,...,2.9,59.1,66.9,2086,1286,800,61.7,3.1,59.8,67.8
2,대구광역시,남자,1021,714,306,70.0,4.8,66.6,71.4,1020,...,2.6,69.0,75.2,1009,719,290,71.3,3.0,69.2,76.0
3,대구광역시,여자,1086,568,518,52.3,3.8,50.3,57.2,1084,...,3.4,49.9,58.7,1077,567,510,52.6,3.1,51.0,59.7

In [47]:
gender_df_2 = gender_df[['성별', '2018.4', '2018.5', '2018.6', '2019.4', '2019.5', '2019.6', '2020.4', '2020.5', '2020.6',
                        '2021.4', '2021.5', '2021.6', '2022.4', '2022.5', '2022.6', '2023.4', '2023.5', '2023.6']]
gender_df_2

,성별,2018.4,2018.5,2018.6,2019.4,2019.5,2019.6,2020.4,2020.5,2020.6,2021.4,2021.5,2021.6,2022.4,2022.5,2022.6,2023.4,2023.5,2023.6
0,성별,실업률 (%),고용률 (%),15~64세 고용률 (%),실업률 (%),고용률 (%),15~64세 고용률 (%),실업률 (%),고용률 (%),15~64세 고용률 (%),실업률 (%),고용률 (%),15~64세 고용률 (%),실업률 (%),고용률 (%),15~64세 고용률 (%),실업률 (%),고용률 (%),15~64세 고용률 (%)
1,계,4.4,58.2,64.2,3.7,57.9,64.2,3.9,56.6,63.0,3.7,58.2,65.5,2.9,59.1,66.9,3.1,59.8,67.8
2,남자,4.8,66.6,71.4,3.8,67.6,72.8,3.8,67.2,72.8,3.7,68.2,74.3,2.6,69.0,75.2,3.0,69.2,76.0
3,여자,3.8,50.3,57.2,3.5,48.8,55.6,3.9,46.8,53.3,3.8,48.9,56.8,3.4,49.9,58.7,3.1,51.0,59.7

In [50]:
gender_df_3 = gender_df_2.set_index(gender_df_2['성별'])
gender_df_3 = gender_df_3.drop(columns=['성별'])
gender_df_3

,2018.4,2018.5,2018.6,2019.4,2019.5,2019.6,2020.4,2020.5,2020.6,2021.4,2021.5,2021.6,2022.4,2022.5,2022.6,2023.4,2023.5,2023.6
성별,,,,,,,,,,,,,,,,,,
성별,실업률 (%),고용률 (%),15~64세 고용률 (%),실업률 (%),고용률 (%),15~64세 고용률 (%),실업률 (%),고용률 (%),15~64세 고용률 (%),실업률 (%),고용률 (%),15~64세 고용률 (%),실업률 (%),고용률 (%),15~64세 고용률 (%),실업률 (%),고용률 (%),15~64세 고용률 (%)
계,4.4,58.2,64.2,3.7,57.9,64.2,3.9,56.6,63.0,3.7,58.2,65.5,2.9,59.1,66.9,3.1,59.8,67.8
남자,4.8,66.6,71.4,3.8,67.6,72.8,3.8,67.2,72.8,3.7,68.2,74.3,2.6,69.0,75.2,3.0,69.2,76.0
여자,3.8,50.3,57.2,3.5,48.8,55.6,3.9,46.8,53.3,3.8,48.9,56.8,3.4,49.9,58.7,3.1,51.0,59.7

In [51]:
colnames = ['2018', '-', '-', '2019', '-', '-', '2020', '-', '-', '2021', '-', '-', '2022', '-', '-', '2023', '-', '-']
gender_df_3.columns = colnames
gender_df_3

,2018,-,-,2019,-,-,2020,-,-,2021,-,-,2022,-,-,2023,-,-
성별,,,,,,,,,,,,,,,,,,
성별,실업률 (%),고용률 (%),15~64세 고용률 (%),실업률 (%),고용률 (%),15~64세 고용률 (%),실업률 (%),고용률 (%),15~64세 고용률 (%),실업률 (%),고용률 (%),15~64세 고용률 (%),실업률 (%),고용률 (%),15~64세 고용률 (%),실업률 (%),고용률 (%),15~64세 고용률 (%)
계,4.4,58.2,64.2,3.7,57.9,64.2,3.9,56.6,63.0,3.7,58.2,65.5,2.9,59.1,66.9,3.1,59.8,67.8
남자,4.8,66.6,71.4,3.8,67.6,72.8,3.8,67.2,72.8,3.7,68.2,74.3,2.6,69.0,75.2,3.0,69.2,76.0
여자,3.8,50.3,57.2,3.5,48.8,55.6,3.9,46.8,53.3,3.8,48.9,56.8,3.4,49.9,58.7,3.1,51.0,59.7

In [52]:
age_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 32 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시도별     11 non-null     object
 1   연령계층별   11 non-null     object
 2   2018    11 non-null     object
 3   2018.1  11 non-null     object
 4   2018.2  11 non-null     object
 5   2018.3  11 non-null     object
 6   2018.4  11 non-null     object
 7   2019    11 non-null     object
 8   2019.1  11 non-null     object
 9   2019.2  11 non-null     object
 10  2019.3  11 non-null     object
 11  2019.4  11 non-null     object
 12  2020    11 non-null     object
 13  2020.1  11 non-null     object
 14  2020.2  11 non-null     object
 15  2020.3  11 non-null     object
 16  2020.4  11 non-null     object
 17  2021    11 non-null     object
 18  2021.1  11 non-null     object
 19  2021.2  11 non-null     object
 20  2021.3  11 non-null     object
 21  2021.4  11 non-null     object
 22  2022    11 non-null     object
 23  2022.1  11 non-null     object
 24  2022.2  11 non-null     object
 25  2022.3  11 non-null     object
 26  2022.4  11 non-null     object
 27  2023    11 non-null     object
 28  2023.1  11 non-null     object
 29  2023.2  11 non-null     object
 30  2023.3  11 non-null     object
 31  2023.4  11 non-null     object
dtypes: object(32)
memory usage: 2.9+ KB

In [53]:
age_df

,시도별,연령계층별,2018,2018.1,2018.2,2018.3,2018.4,2019,2019.1,2019.2,...,2022,2022.1,2022.2,2022.3,2022.4,2023,2023.1,2023.2,2023.3,2023.4
0,시도별,연령계층별,15세이상인구 (천명),경제활동인구 (천명),비경제활동인구 (천명),경제활동참가율 (%),고용률 (%),15세이상인구 (천명),경제활동인구 (천명),비경제활동인구 (천명),...,15세이상인구 (천명),경제활동인구 (천명),비경제활동인구 (천명),경제활동참가율 (%),고용률 (%),15세이상인구 (천명),경제활동인구 (천명),비경제활동인구 (천명),경제활동참가율 (%),고용률 (%)
1,대구광역시,계,2106,1282,824,60.9,58.2,2104,1266,838,...,2077,1265,812,60.9,59.1,2086,1286,800,61.7,59.8
2,대구광역시,15 - 29세,440,182,258,41.4,36.3,430,187,243,...,391,173,218,44.3,41.3,382,173,209,45.2,42.3
3,대구광역시,15 - 19세,138,8,130,6.0,5.8,129,8,121,...,107,7,99,6.7,6.5,106,8,99,7.1,6.8
4,대구광역시,20 - 29세,302,174,128,57.5,50.3,300,178,122,...,284,166,118,58.4,54.2,275,165,110,59.9,56.1
5,대구광역시,30 - 39세,320,237,83,74.1,70.3,313,227,86,...,283,223,59,79.0,77.3,280,220,61,78.5,76.4
6,대구광역시,40 - 49세,405,333,72,82.1,80.6,392,314,78,...,364,288,76,79.1,77.4,356,291,66,81.6,79.9
7,대구광역시,50 - 59세,423,327,96,77.2,75.5,426,323,103,...,414,327,87,79.0,77.4,413,325,89,78.6,77.0
8,대구광역시,60세이상,518,203,315,39.2,37.8,544,216,328,...,625,254,372,40.6,39.4,654,278,376,42.6,40.9
9,대구광역시,15 - 64세,1752,1177,575,67.2,64.2,1734,1157,577,...,1649,1136,513,68.9,66.9,1635,1141,494,69.8,67.8
10,대구광역시,15 - 24세,283,72,211,25.5,22.9,270,68,203,...,235,66,169,28.0,26.2,232,68,163,29.5,27.8

In [55]:
# 필요한 데이터만
age_df_2 = age_df[['연령계층별', '2018.3', '2018.4', '2019.3', '2019.4', '2020.3', '2020.4',
                  '2021.3', '2021.4', '2022.3', '2022.4', '2023.3', '2023.4']]
age_df_2

,연령계층별,2018.3,2018.4,2019.3,2019.4,2020.3,2020.4,2021.3,2021.4,2022.3,2022.4,2023.3,2023.4
0,연령계층별,경제활동참가율 (%),고용률 (%),경제활동참가율 (%),고용률 (%),경제활동참가율 (%),고용률 (%),경제활동참가율 (%),고용률 (%),경제활동참가율 (%),고용률 (%),경제활동참가율 (%),고용률 (%)
1,계,60.9,58.2,60.2,57.9,58.9,56.6,60.5,58.2,60.9,59.1,61.7,59.8
2,15 - 29세,41.4,36.3,43.4,39.8,41.6,37.8,45.8,42.6,44.3,41.3,45.2,42.3
3,15 - 19세,6.0,5.8,6.5,6.3,5.2,4.9,7.6,7.3,6.7,6.5,7.1,6.8
4,20 - 29세,57.5,50.3,59.4,54.3,56.4,51.2,60.4,56.0,58.4,54.2,59.9,56.1
5,30 - 39세,74.1,70.3,72.5,69.4,74.2,71.2,79.2,76.8,79.0,77.3,78.5,76.4
6,40 - 49세,82.1,80.6,80.1,78.3,76.1,74.6,76.3,74.5,79.1,77.4,81.6,79.9
7,50 - 59세,77.2,75.5,75.9,73.9,75.4,73.0,77.5,75.2,79.0,77.4,78.6,77.0
8,60세이상,39.2,37.8,39.6,38.4,39.7,38.5,39.7,37.9,40.6,39.4,42.6,40.9
9,15 - 64세,67.2,64.2,66.7,64.2,65.6,63.0,68.0,65.5,68.9,66.9,69.8,67.8
10,15 - 24세,25.5,22.9,25.0,22.8,22.1,19.6,28.6,26.0,28.0,26.2,29.5,27.8

In [65]:
# 필요없는 합계 나이 열 삭제
age_df_3 = age_df_2.drop(index=[2, 9, 10]).reset_index(drop='index')
age_df_3.set_index(age_df_3['연령계층별'], inplace=True)
age_df_3.drop(columns=['연령계층별'], inplace=True)
age_df_3

,2018.3,2018.4,2019.3,2019.4,2020.3,2020.4,2021.3,2021.4,2022.3,2022.4,2023.3,2023.4
연령계층별,,,,,,,,,,,,
연령계층별,경제활동참가율 (%),고용률 (%),경제활동참가율 (%),고용률 (%),경제활동참가율 (%),고용률 (%),경제활동참가율 (%),고용률 (%),경제활동참가율 (%),고용률 (%),경제활동참가율 (%),고용률 (%)
계,60.9,58.2,60.2,57.9,58.9,56.6,60.5,58.2,60.9,59.1,61.7,59.8
15 - 19세,6.0,5.8,6.5,6.3,5.2,4.9,7.6,7.3,6.7,6.5,7.1,6.8
20 - 29세,57.5,50.3,59.4,54.3,56.4,51.2,60.4,56.0,58.4,54.2,59.9,56.1
30 - 39세,74.1,70.3,72.5,69.4,74.2,71.2,79.2,76.8,79.0,77.3,78.5,76.4
40 - 49세,82.1,80.6,80.1,78.3,76.1,74.6,76.3,74.5,79.1,77.4,81.6,79.9
50 - 59세,77.2,75.5,75.9,73.9,75.4,73.0,77.5,75.2,79.0,77.4,78.6,77.0
60세이상,39.2,37.8,39.6,38.4,39.7,38.5,39.7,37.9,40.6,39.4,42.6,40.9

In [66]:
colnames = ['2018', '-', '2019', '-', '2020', '-', '2021', '-', '2022', '-', '2023', '-']
age_df_3.columns = colnames
age_df_3

,2018,-,2019,-,2020,-,2021,-,2022,-,2023,-
연령계층별,,,,,,,,,,,,
연령계층별,경제활동참가율 (%),고용률 (%),경제활동참가율 (%),고용률 (%),경제활동참가율 (%),고용률 (%),경제활동참가율 (%),고용률 (%),경제활동참가율 (%),고용률 (%),경제활동참가율 (%),고용률 (%)
계,60.9,58.2,60.2,57.9,58.9,56.6,60.5,58.2,60.9,59.1,61.7,59.8
15 - 19세,6.0,5.8,6.5,6.3,5.2,4.9,7.6,7.3,6.7,6.5,7.1,6.8
20 - 29세,57.5,50.3,59.4,54.3,56.4,51.2,60.4,56.0,58.4,54.2,59.9,56.1
30 - 39세,74.1,70.3,72.5,69.4,74.2,71.2,79.2,76.8,79.0,77.3,78.5,76.4
40 - 49세,82.1,80.6,80.1,78.3,76.1,74.6,76.3,74.5,79.1,77.4,81.6,79.9
50 - 59세,77.2,75.5,75.9,73.9,75.4,73.0,77.5,75.2,79.0,77.4,78.6,77.0
60세이상,39.2,37.8,39.6,38.4,39.7,38.5,39.7,37.9,40.6,39.4,42.6,40.9

- 정리된 데이터들을 다시 한번 보기

In [67]:
edu_level_df_3

,2018,-,2019,-,2020,-,2021,-,2022,-,2023,-
교육정도별,,,,,,,,,,,,
교육정도별,15세이상인구 (천명),경제활동인구 (천명),15세이상인구 (천명),경제활동인구 (천명),15세이상인구 (천명),경제활동인구 (천명),15세이상인구 (천명),경제활동인구 (천명),15세이상인구 (천명),경제활동인구 (천명),15세이상인구 (천명),경제활동인구 (천명)
계,2106,1282,2104,1266,2091,1232,2090,1265,2077,1265,2086,1286
초졸이하,261,89,270,86,261,85,247,83,238,72,233,71
중졸,280,106,257,100,258,98,252,88,257,97,250,88
고졸,765,465,741,438,719,407,698,412,704,429,709,442
대졸이상,801,622,836,643,853,642,893,682,878,668,893,685
전문대졸,274,210,262,199,257,194,293,226,287,219,290,229
대학교졸이상,526,412,574,444,596,447,600,456,591,448,603,457

In [68]:
gender_df_3

,2018,-,-,2019,-,-,2020,-,-,2021,-,-,2022,-,-,2023,-,-
성별,,,,,,,,,,,,,,,,,,
성별,실업률 (%),고용률 (%),15~64세 고용률 (%),실업률 (%),고용률 (%),15~64세 고용률 (%),실업률 (%),고용률 (%),15~64세 고용률 (%),실업률 (%),고용률 (%),15~64세 고용률 (%),실업률 (%),고용률 (%),15~64세 고용률 (%),실업률 (%),고용률 (%),15~64세 고용률 (%)
계,4.4,58.2,64.2,3.7,57.9,64.2,3.9,56.6,63.0,3.7,58.2,65.5,2.9,59.1,66.9,3.1,59.8,67.8
남자,4.8,66.6,71.4,3.8,67.6,72.8,3.8,67.2,72.8,3.7,68.2,74.3,2.6,69.0,75.2,3.0,69.2,76.0
여자,3.8,50.3,57.2,3.5,48.8,55.6,3.9,46.8,53.3,3.8,48.9,56.8,3.4,49.9,58.7,3.1,51.0,59.7

In [69]:
age_df_3

,2018,-,2019,-,2020,-,2021,-,2022,-,2023,-
연령계층별,,,,,,,,,,,,
연령계층별,경제활동참가율 (%),고용률 (%),경제활동참가율 (%),고용률 (%),경제활동참가율 (%),고용률 (%),경제활동참가율 (%),고용률 (%),경제활동참가율 (%),고용률 (%),경제활동참가율 (%),고용률 (%)
계,60.9,58.2,60.2,57.9,58.9,56.6,60.5,58.2,60.9,59.1,61.7,59.8
15 - 19세,6.0,5.8,6.5,6.3,5.2,4.9,7.6,7.3,6.7,6.5,7.1,6.8
20 - 29세,57.5,50.3,59.4,54.3,56.4,51.2,60.4,56.0,58.4,54.2,59.9,56.1
30 - 39세,74.1,70.3,72.5,69.4,74.2,71.2,79.2,76.8,79.0,77.3,78.5,76.4
40 - 49세,82.1,80.6,80.1,78.3,76.1,74.6,76.3,74.5,79.1,77.4,81.6,79.9
50 - 59세,77.2,75.5,75.9,73.9,75.4,73.0,77.5,75.2,79.0,77.4,78.6,77.0
60세이상,39.2,37.8,39.6,38.4,39.7,38.5,39.7,37.9,40.6,39.4,42.6,40.9

In [71]:
age_df_4 = age_df_3.T
age_df_4

연령계층별        연령계층별     계 15 - 19세 20 - 29세 30 - 39세 40 - 49세 50 - 59세 60세이상
2018   경제활동참가율 (%)  60.9      6.0     57.5     74.1     82.1     77.2  39.2
-          고용률 (%)  58.2      5.8     50.3     70.3     80.6     75.5  37.8
2019   경제활동참가율 (%)  60.2      6.5     59.4     72.5     80.1     75.9  39.6
-          고용률 (%)  57.9      6.3     54.3     69.4     78.3     73.9  38.4
2020   경제활동참가율 (%)  58.9      5.2     56.4     74.2     76.1     75.4  39.7
-          고용률 (%)  56.6      4.9     51.2     71.2     74.6     73.0  38.5
2021   경제활동참가율 (%)  60.5      7.6     60.4     79.2     76.3     77.5  39.7
-          고용률 (%)  58.2      7.3     56.0     76.8     74.5     75.2  37.9
2022   경제활동참가율 (%)  60.9      6.7     58.4     79.0     79.1     79.0  40.6
-          고용률 (%)  59.1      6.5     54.2     77.3     77.4     77.4  39.4
2023   경제활동참가율 (%)  61.7      7.1     59.9     78.5     81.6     78.6  42.6
-          고용률 (%)  59.8      6.8     56.1     76.4     79.9     77.0  40.9

In [75]:
age_df_4[['연령계층별', '계']] # 인원수가 필요하구나

연령계층별        연령계층별     계
2018   경제활동참가율 (%)  60.9
-          고용률 (%)  58.2
2019   경제활동참가율 (%)  60.2
-          고용률 (%)  57.9
2020   경제활동참가율 (%)  58.9
-          고용률 (%)  56.6
2021   경제활동참가율 (%)  60.5
-          고용률 (%)  58.2
2022   경제활동참가율 (%)  60.9
-          고용률 (%)  59.1
2023   경제활동참가율 (%)  61.7
-          고용률 (%)  59.8

In [87]:
age_df_person = age_df.loc[[0,1,3,4,5,6,7,8], ['2018', '2018.1','2019','2019.1','2020','2020.1','2021','2021.1','2022','2022.1','2023','2023.1']].T
age_df_person.columns = age_df_3.index
age_df_person.loc[['2018.1','2019.1','2020.1','2021.1','2022.1','2023.1']]

연령계층별         연령계층별     계 15 - 19세 20 - 29세 30 - 39세 40 - 49세 50 - 59세 60세이상
2018.1  경제활동인구 (천명)  1282        8      174      237      333      327   203
2019.1  경제활동인구 (천명)  1266        8      178      227      314      323   216
2020.1  경제활동인구 (천명)  1232        6      165      224      291      318   227
2021.1  경제활동인구 (천명)  1265        9      177      231      285      324   239
2022.1  경제활동인구 (천명)  1265        7      166      223      288      327   254
2023.1  경제활동인구 (천명)  1286        8      165      220      291      325   278

In [98]:
# 고용률과 경제활동인구로 부터 추측한 고용된 사람들
guess_person = pd.DataFrame(data=[[1282,58.2,746,4.4,56],[1266,58.2,736,3.7,47],
                                  [1232,56.6,697,3.9,48],[1265,58.2,736,3.7,47],
                                  [1265,59.1,747,2.9,37],[1286,59.8,769,3.1,40]],
                            columns=['경제활동인구(천명)', '고용률(%)', '추측된 취업자(천명)','실업률(%)', '추측된 실업자(천명)'],
                            index=[2018,2019,2020,2021,2022,2023])
guess_person.loc['평균'] = [guess_person['경제활동인구(천명)'].mean(), guess_person['고용률(%)'].mean(), guess_person['추측된 취업자(천명)'].mean(), guess_person['실업률(%)'].mean(), guess_person['추측된 실업자(천명)'].mean()]
guess_person

      경제활동인구(천명)  고용률(%)  추측된 취업자(천명)    실업률(%)  추측된 실업자(천명)
2018      1282.0   58.20        746.0  4.400000    56.000000
2019      1266.0   58.20        736.0  3.700000    47.000000
2020      1232.0   56.60        697.0  3.900000    48.000000
2021      1265.0   58.20        736.0  3.700000    47.000000
2022      1265.0   59.10        747.0  2.900000    37.000000
2023      1286.0   59.80        769.0  3.100000    40.000000
평균        1266.0   58.35        738.5  3.616667    45.833333

In [146]:
guess_person_2 = pd.DataFrame(data=[['고용률(%)', '경제활동인구(천명)', '추측된 취업자(천명)', '고용률(%)', '경제활동인구(천명)', '추측된 취업자(천명)', '고용률(%)', '경제활동인구(천명)', '추측된 취업자(천명)', '고용률(%)', '경제활동인구(천명)', '추측된 취업자(천명)', '고용률(%)', '경제활동인구(천명)', '추측된 취업자(천명)', '고용률(%)', '경제활동인구(천명)', '추측된 취업자(천명)', ],
                                    [5.8,8,0.464,6.3,8,0.504,4.9,6,0.294,7.3,9,0.657,6.5,7,0.455,6.8,8,0.544],
                                    [50.3,174,87.5,54.3,178,96.6,51.2,165,84.4,56.0,177,99.1,54.2,166,89.9,56.1,165,92.5],
                                    [70.3,273,191.9,69.4,227,157.5,71.2,224,159.4,76.8,231,177.4,77.3,223,172.3,76.4,220,168],
                                    [80.6,333,268.3,78.3,314,245.8,7436,229,170.8,74.5,285,212.3,77.4,288,22.9,79.9,291,232.5],
                                    [75.5,327,246.8,73.9,323,238.6,73.0,318,232.1,75.2,324,243.6,77.4,327,253,77.0,325,250.2],
                                    [37.8,203,76.7,38.4,216,82.9,38.5,227,78.3,37.9,239,90.5,39.4,254,100,40.9,278,113.7]],
                              columns=['2018', '-', '-', '2019', '-', '-', '2020', '-', '-', '2021', '-', '-', '2022', '-', '-', '2023', '-', '-'],
                              index=['연령별', '15-19세', '20-20세', '30-39세', '40-49세', '50-59세', '60세이상'])
guess_person_2

,2018,-,-,2019,-,-,2020,-,-,2021,-,-,2022,-,-,2023,-,-
연령별,고용률(%),경제활동인구(천명),추측된 취업자(천명),고용률(%),경제활동인구(천명),추측된 취업자(천명),고용률(%),경제활동인구(천명),추측된 취업자(천명),고용률(%),경제활동인구(천명),추측된 취업자(천명),고용률(%),경제활동인구(천명),추측된 취업자(천명),고용률(%),경제활동인구(천명),추측된 취업자(천명)
15-19세,5.8,8,0.464,6.3,8,0.504,4.9,6,0.294,7.3,9,0.657,6.5,7,0.455,6.8,8,0.544
20-20세,50.3,174,87.5,54.3,178,96.6,51.2,165,84.4,56.0,177,99.1,54.2,166,89.9,56.1,165,92.5
30-39세,70.3,273,191.9,69.4,227,157.5,71.2,224,159.4,76.8,231,177.4,77.3,223,172.3,76.4,220,168
40-49세,80.6,333,268.3,78.3,314,245.8,7436,229,170.8,74.5,285,212.3,77.4,288,22.9,79.9,291,232.5
50-59세,75.5,327,246.8,73.9,323,238.6,73.0,318,232.1,75.2,324,243.6,77.4,327,253,77.0,325,250.2
60세이상,37.8,203,76.7,38.4,216,82.9,38.5,227,78.3,37.9,239,90.5,39.4,254,100,40.9,278,113.7

In [149]:
guess_person_2.T

              연령별 15-19세 20-20세 30-39세 40-49세 50-59세  60세이상
2018       고용률(%)    5.8   50.3   70.3   80.6   75.5   37.8
-      경제활동인구(천명)      8    174    273    333    327    203
-     추측된 취업자(천명)  0.464   87.5  191.9  268.3  246.8   76.7
2019       고용률(%)    6.3   54.3   69.4   78.3   73.9   38.4
-      경제활동인구(천명)      8    178    227    314    323    216
-     추측된 취업자(천명)  0.504   96.6  157.5  245.8  238.6   82.9
2020       고용률(%)    4.9   51.2   71.2   7436   73.0   38.5
-      경제활동인구(천명)      6    165    224    229    318    227
-     추측된 취업자(천명)  0.294   84.4  159.4  170.8  232.1   78.3
2021       고용률(%)    7.3   56.0   76.8   74.5   75.2   37.9
-      경제활동인구(천명)      9    177    231    285    324    239
-     추측된 취업자(천명)  0.657   99.1  177.4  212.3  243.6   90.5
2022       고용률(%)    6.5   54.2   77.3   77.4   77.4   39.4
-      경제활동인구(천명)      7    166    223    288    327    254
-     추측된 취업자(천명)  0.455   89.9  172.3   22.9    253    100
2023       고용률(%)    6.8   56.1   76.4   79.9   77.0   40.9
-      경제활동인구(천명)      8    165    220    291    325    278
-     추측된 취업자(천명)  0.544   92.5    168  232.5  250.2  113.7

In [148]:
guess_person_3 = pd.DataFrame(data=[['고용률(%)', '경제활동인구(천명)', '추측된 취업자(천명)', '고용률(%)', '경제활동인구(천명)', '추측된 취업자(천명)', '고용률(%)', '경제활동인구(천명)', '추측된 취업자(천명)', '고용률(%)', '경제활동인구(천명)', '추측된 취업자(천명)', '고용률(%)', '경제활동인구(천명)', '추측된 취업자(천명)', '고용률(%)', '경제활동인구(천명)', '추측된 취업자(천명)', ],
                                    [5.8,8,0.464,6.3,8,0.504,4.9,6,0.294,7.3,9,0.657,6.5,7,0.455,6.8,8,0.544],
                                    [62.5,174+237,87.5+191.9,62.7,178+157.5,96.6+157.5,62.6,165+224,84.4+159.4,67.7,177+231,99.1+177.4,67.4,166+223,89.9+172.3,67.6,165+220,92.5+168],
                                    [78.0,333+327,268.3+246.8,76.0,314+323,245.8+238.6,73.6,229+318,170.8+232.1,74.8,285+324,212.3+234.6,77.3,288+327,222.9+23,78.3,291+325,232.5+250.2],
                                    [37.8,203,76.7,38.4,216,82.9,38.5,227,78.3,37.9,239,90.5,39.4,254,100,40.9,278,113.7]],
                              columns=['2018', '-', '-', '2019', '-', '-', '2020', '-', '-', '2021', '-', '-', '2022', '-', '-', '2023', '-', '-'],
                              index=['연령별', '청소년층', '청년층', '중장년층', '노인층'])
guess_person_3

,2018,-,-,2019,-,-,2020,-,-,2021,-,-,2022,-,-,2023,-,-
연령별,고용률(%),경제활동인구(천명),추측된 취업자(천명),고용률(%),경제활동인구(천명),추측된 취업자(천명),고용률(%),경제활동인구(천명),추측된 취업자(천명),고용률(%),경제활동인구(천명),추측된 취업자(천명),고용률(%),경제활동인구(천명),추측된 취업자(천명),고용률(%),경제활동인구(천명),추측된 취업자(천명)
청소년층,5.8,8,0.464,6.3,8,0.504,4.9,6,0.294,7.3,9,0.657,6.5,7,0.455,6.8,8,0.544
청년층,62.5,411,279.4,62.7,335.5,254.1,62.6,389,243.8,67.7,408,276.5,67.4,389,262.2,67.6,385,260.5
중장년층,78.0,660,515.1,76.0,637,484.4,73.6,547,402.9,74.8,609,446.9,77.3,615,245.9,78.3,616,482.7
노인층,37.8,203,76.7,38.4,216,82.9,38.5,227,78.3,37.9,239,90.5,39.4,254,100,40.9,278,113.7

In [150]:
guess_person_3.T

              연령별   청소년층    청년층   중장년층    노인층
2018       고용률(%)    5.8   62.5   78.0   37.8
-      경제활동인구(천명)      8    411    660    203
-     추측된 취업자(천명)  0.464  279.4  515.1   76.7
2019       고용률(%)    6.3   62.7   76.0   38.4
-      경제활동인구(천명)      8  335.5    637    216
-     추측된 취업자(천명)  0.504  254.1  484.4   82.9
2020       고용률(%)    4.9   62.6   73.6   38.5
-      경제활동인구(천명)      6    389    547    227
-     추측된 취업자(천명)  0.294  243.8  402.9   78.3
2021       고용률(%)    7.3   67.7   74.8   37.9
-      경제활동인구(천명)      9    408    609    239
-     추측된 취업자(천명)  0.657  276.5  446.9   90.5
2022       고용률(%)    6.5   67.4   77.3   39.4
-      경제활동인구(천명)      7    389    615    254
-     추측된 취업자(천명)  0.455  262.2  245.9    100
2023       고용률(%)    6.8   67.6   78.3   40.9
-      경제활동인구(천명)      8    385    616    278
-     추측된 취업자(천명)  0.544  260.5  482.7  113.7