### 멀티인덱스

In [16]:
import pandas as pd

In [17]:
file_path = '../data/test_data_3.csv'

In [18]:
df1 = pd.read_csv(file_path)
df1

   index col1  col2  col3
0   2020   서울    10    20
1   2020   대구    11    22
2   2021   서울    10    20
3   2021   대구    11    22
4   2021   대구    12    23

In [19]:
# 대구 관련 데이터 추출
df1[(df1['col1'] == '대구')]

   index col1  col2  col3
1   2020   대구    11    22
3   2021   대구    11    22
4   2021   대구    12    23

In [20]:
# index와 col1 컬럼을 핸 인덱스 설정
df2 = df1.set_index(['index', 'col1'])
df2

            col2  col3
index col1
2020  서울      10    20
      대구      11    22
2021  서울      10    20
      대구      11    22
      대구      12    23

In [21]:
# 인덱스 속성
df2.index, df2.values

(MultiIndex([(2020, '서울'),
             (2020, '대구'),
             (2021, '서울'),
             (2021, '대구'),
             (2021, '대구')],
            names=['index', 'col1']),
 array([[10, 20],
        [11, 22],
        [10, 20],
        [11, 22],
        [12, 23]]))

In [22]:
# 2020년도 대구 데이터 추출
df2.loc[('2020', '대구')]

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_13460\2217048407.py:2: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[('2020', '대구')]

            col2  col3
index col1
2020  대구      11    22

In [23]:
# 2021년도 대구
df2.loc[('2021', '대구')]

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_13460\2511858420.py:2: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[('2021', '대구')]

            col2  col3
index col1
2021  대구      11    22
      대구      12    23

In [24]:
df2.loc['2020' ,'대구'] = [9, 9]
df2

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_13460\2443109856.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc['2020' ,'대구'] = [9, 9]

            col2  col3
index col1
2020  서울      10    20
      대구       9     9
2021  서울      10    20
      대구      11    22
      대구      12    23

In [25]:
df2.loc[('2021', '대구')] = [3, 3]
df2

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_13460\3721450456.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[('2021', '대구')] = [3, 3]

            col2  col3
index col1
2020  서울      10    20
      대구       9     9
2021  서울      10    20
      대구       3     3
      대구       3     3

In [40]:
# 행 추가 => (년도, 지역명)
# df2.loc[('2022', '부산')] = 0       # 행, 열 로 인식해서 열추가로 가버림
df2.loc[(2020, '부산'), :] = 0      # 핼과 열을 확실하게 구분해야함.
df2

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_13460\588472546.py:3: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2020, '부산'), :] = 0      # 핼과 열을 확실하게 구분해야함.
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_13460\588472546.py:3: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2020, '부산'), :] = 0      # 핼과 열을 확실하게 구분해야함.

            col2  col3
index col1
2020  서울    10.0  20.0
      대구     9.0   9.0
2021  서울    10.0  20.0
      대구     3.0   3.0
      대구     3.0   3.0
2020  부산     0.0   0.0
2022  마산     3.0   4.0
      부산     0.0   0.0
      울산     8.0   8.0
      경산     3.0   2.0
      부산     0.0   0.0
2020  부산     0.0   0.0

In [32]:
df2.loc[('2022', '마산'), :] = [3, 4]

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_13460\949300485.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[('2022', '마산'), :] = [3, 4]

In [33]:
df2

            col2  col3
index col1
2020  서울    10.0  20.0
      대구     9.0   9.0
2021  서울    10.0  20.0
      대구     3.0   3.0
      대구     3.0   3.0
2020  부산     0.0   0.0
2022  마산     3.0   4.0
      부산     0.0   0.0

In [35]:
df2.loc[('2022', '울산'), :] = [pd.Series({'col2':8, 'col3':8})]

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_13460\2861700855.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[('2022', '울산'), :] = [pd.Series({'col2':8, 'col3':8})]

In [36]:
df2

            col2  col3
index col1
2020  서울    10.0  20.0
      대구     9.0   9.0
2021  서울    10.0  20.0
      대구     3.0   3.0
      대구     3.0   3.0
2020  부산     0.0   0.0
2022  마산     3.0   4.0
      부산     0.0   0.0
      울산     8.0   8.0

In [37]:
df2.loc[('2022', '경산'), :] = [pd.Series({'col2':3, 'col3':2})]
df2

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_13460\271016597.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[('2022', '경산'), :] = [pd.Series({'col2':3, 'col3':2})]
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_13460\271016597.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[('2022', '경산'), :] = [pd.Series({'col2':3, 'col3':2})]

            col2  col3
index col1
2020  서울    10.0  20.0
      대구     9.0   9.0
2021  서울    10.0  20.0
      대구     3.0   3.0
      대구     3.0   3.0
2020  부산     0.0   0.0
2022  마산     3.0   4.0
      부산     0.0   0.0
      울산     8.0   8.0
      경산     3.0   2.0

In [38]:
df2.sort_index()

            col2  col3
index col1
2020  대구     9.0   9.0
      서울    10.0  20.0
2021  대구     3.0   3.0
      대구     3.0   3.0
      서울    10.0  20.0
2020  부산     0.0   0.0
2022  경산     3.0   2.0
      마산     3.0   4.0
      부산     0.0   0.0
      울산     8.0   8.0